doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title add stock
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/styles.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css')
h2 Add Stock
form(action='/addstock' method='POST')
  label(for='breed') breed:
  br
  input#itemName(type='text' name='breed')
  br
  br
  label(for='quantity') Quantity:
  br
  input#quantity(type='number' name='quantity' min='1' required='')
  br
  br
  label(for='supplier') arrival date:
  br
  input#arrival(type='date' name='arrivaldate')
  br
  br
  label(for='supplier') Supplier:
  br
  input#supplier(type='text' name='supplier')
  br
  br
  button(type='submit') Add Stock
script(src='/js/scripts.js')

