doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Young4Chicks Dashboard
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='style.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css' integrity='sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==' crossorigin='anonymous' referrerpolicy='no-referrer')
ul.nav.flex-column
  li.nav-item
    a.nav-link(href='/views/index.html')
      i.fas.fa-tachometer-alt.me-2
      |                 Young4chicks Dashboard
  li.nav-item
    a.nav-link.active(aria-current='page' href='/views/farmers.html')
      i.fa.fa-users(aria-hidden='true')
      | Total Revenue
  li.nav-item
    a.nav-link(href='/views/customers.html')
      i.fa.fa-check-square(aria-hidden='true')
      |                 Pending Orders
  li.nav-item
    a.nav-link(href='/views/customers.html')
      i.fa.fa-check-square(aria-hidden='true')
      |                Total Chick Feeds
  li.nav-item
    a.nav-link(href='/views/sales.html')
      i.fa.fa-tags(aria-hidden='true')
      | Total sales
  li.nav-item
    a.nav-link(href='/views/chicks.html')
      i.fa.fa-diamond(aria-hidden='true')
      | Total Chicks in stock
.container.my-4
  h2.mb-5.bg-primary Dashboard Overview
  .row
    .col-md-3
      .card.p-3.bg-light.card-body-boader
        h5 &#x1F423; Total Chicks in Stock
        p 350 Local / 150 Exotic
    .col-md-3
      .card.p-3.bg-light
        h5 &#x1F37D;&#xFE0F; Total Feeds Left
        p 500kg
    .col-md-3
      .card.p-3.bg-light
        h5 &#x1F4E6; Orders
        p 62 Orders (12 Pending)
    .col-md-3
      .card.p-3.bg-light
        h5 &#x1F4B0; Revenue
        p UGX 2,530,000


